<!--This assets allow users to search table any column value using single search without making a call to backend -->
<template>
    <div class="slds-grid slds-gutters slds-m-top_medium slds-m-bottom_medium">
        <div class="slds-col slds-size_9-of-12">
        </div>
        <div class="slds-col slds-size_3-of-12">
          <div class="slds-m-bottom_small" style="margin-top: 1.1rem;">
            <lightning-input class="noLabel stretched" label="" type="search" name="searchNotes"
            placeholder="Search.." onchange={handleSearchCappingPots}>
          </lightning-input>
          </div>
        </div>
      </div>


        <!--Table Display-->
        <div class="orcaTable norm greenAction no-resizable-tds">
          <div class="slds-table--header-fixed_container" style="height:600px;">
            <div class="slds-scrollable_y" style="height:100%;">
              <table
                class="spaced slds-table slds-table_cell-buffer slds-table_bordered  table-striped slds-table--header-fixed slds-table--fixed-layout">
                <thead>
                  <tr class="slds-line-height_reset">
                    <th scope="col">
                      <div style="padding-top: 8px;" class="slds-truncate slds-cell-fixed" title="Name">Name</div>
                    </th>
                   
                    <th scope="col">
                      <div style="padding-top: 8px;" class="slds-truncate slds-cell-fixed" title="Value">Value</div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <template for:each={cappingPotsList} for:index="index" for:item="cap">
                    <tr class={cap.cssClass} key={cap.PotId}>
                      <td data-label="Name">
                        <div class="slds-truncate" title="Name">
                          {cap.Name}
                        </div>
                      </td>
                      <td data-label="Value">
                        <div class="" title="Value">
                          $ {cap.ValuePassCredit}
                        </div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</template>